{% load static %}

<head>
    <title>{{ jadwalnya.kelas}}</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body>
    <label class="detail">Nama : {{ jadwalnya.kelas}} <br></label>
    <label class="detail">Deskripsi : {{ jadwalnya.deskripsi}} <br></label>
    <label class="detail">Dosen : {{ jadwalnya.dosen }} <br></label>
    <label class="detail">Ruang Kelas : {{ jadwalnya.ruang_kelas }} <br></label>
    <label class="detail">Jumlah SKS : {{ jadwalnya.jumlah_sks }} <br></label>
    <label class="detail">Tahun Ajaran : {{ jadwalnya.tahun_ajaran }} <br></label>
</body>