body {
    font-family: 'Helvetica Neue'; 
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.delete {
    margin-left: 50px;
}

.jadwal {
    float: left;
}

.detail {
    margin:5px;
}